@import url('https://fonts.googleapis.com/css2?family=Oswald:ital,wght@1,700&display=swap');
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
